body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  margin: 20px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  margin: 0 0 0 20px;
}

footer {
  font-size: 12px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 130px;
  text-align: center;
  height: 60px;
}

footer .col-xs-8 {
  display: flex;
}

.footer-icon {
  width: 32px;
  height: 32px;
  float: right;
  margin-left: 20px;
}

.link-icon {
  width: 32px;
  height: 32px;
}

#content {
  text-align: center;
  margin-top: 30px;
}

#map {
  height: 420px;
  width: 650px;
  margin-left: 255px;
}
