html {
    position: relative;
    min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 60px;
}

header {
  margin: 20px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  margin: 0 0 0 20px;
}

figure {
    display: inline-block;
    border: 1px transparent gray;
}

figure img {
  width: 255px;
  height: 200px;
}

figure figcaption {
    text-align: center;
    color: gray;
}

footer {
  font-size: 12px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  height: 50px;
  line-height: 40px;
  background-color: #fff;
}

footer p {
  color: #606060;
}

.footer-icon {
  width: 32px;
  height: 32px;
  float: right;
  margin-left: 20px;
}

#music {
  margin-bottom: 40px;
}

#outdoors {
  margin-bottom: 40px;
}

