html {
    position: relative;
    min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-bottom: 60px;
}

header {
  margin: 20px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  margin: 0 0 0 20px;
}


footer {
  font-size: 12px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  height: 50px;
  line-height: 40px;
}

footer p {
  color: #606060;
}

.footer-icon {
  width: 32px;
  height: 32px;
  float: right;
  margin-left: 20px;
}

.link-icon {
  width: 32px;
  height: 32px;
}

.resume {
  color: #606060;
  text-decoration: none;
  margin-left: 65px;
}

#name .col-12 {
  display: flex;
  justify-content: center;
}


#name .col-12 p {
  border-bottom: 2px solid #DEDEDE;
  margin-bottom: 20px;
  font-size: 350%;
}

#bio {
  margin-top: -2px;
}

#test {
  display: flex;
}






