body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  margin: 20px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  margin: 0 0 0 20px;
}


footer {
  font-size: 12px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 130px;
  text-align: center;
  height: 60px;
}

footer .col-sm-8 {
  display: flex;
}

.footer-icon {
  width: 32px;
  height: 32px;
  float: right;
  margin-left: 20px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.link-icon {
  width: 32px;
  height: 32px;
}

#name {
  border-bottom: 2px solid #DEDEDE;
  margin-bottom: 20px;
  text-align: center;
  font-size: 350%;
}

#bio {
  margin-top: -1px;
}

#content {
  padding-bottom: 60px;
}






